<!DOCTYPE html>
<html lang="ja">
<head>
  <title>動画解析</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>動画解析中</h1>
  <div class="progress-bar">
    <div class="progress"></div>
  </div>
  <div class="message" id="message">
    処理中...
  </div>

  <script>
    async function updateMessage(step) {
      try {
        const response = await fetch(`/progress/{{ filename }}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: `step=${step}`
        });

        if (response.ok) {
          const result = await response.json();
          document.getElementById('message').textContent = result.message;
        }
      } catch (error) {
        console.error('エラー:', error);
      }
    }

    async function startProcessing() {
      const steps = [1, 2, 3, 4];

      for (const step of steps) {
        await updateMessage(step);
      }

      // すべての処理が完了したらfinish.htmlにリダイレクト
      window.location.href = '/finish';
    }

    // ウェブページが読み込まれたときに処理を開始
    startProcessing();
  </script>
</body>
</html>