<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ファイルアップロード</title>
</head>
<body>
  <!-- アップロードフォーム -->
  <form action="/upload" method="POST" enctype="multipart/form-data"> <!-- method属性がPOSTに設定されています -->
    <h2>ファイルをアップロード</h2>
    <input type="file" name="file">
    <input type="submit" value="アップロード">
  </form>

<br>
<form action="/upload" method="POST" enctype="multipart/form-data"> <!-- method属性がPOSTに設定されています -->
  <h2>テスト用データ</h2>
  <input type="submit" value="テスト用データの送信" name = "debug_10">
  </form>
</body>
</html>
